In [2]:
import pandas
import numpy

In [3]:
inpatient_pat = pandas.read_csv('Inpatient_Pat.csv')
inpatient_pat

,DRG Definition,Total Discharges,Average Covered Charges,Average Total Payments,Average Medicare Payments
0,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,37861,29228.55368,6902.381289,5514.435910
1,057 - DEGENERATIVE NERVOUS SYSTEM DISORDERS W/...,37927,23924.98059,6809.799325,5791.920242
2,064 - INTRACRANIAL HEMORRHAGE OR CEREBRAL INFA...,68163,49186.95644,13614.616130,12415.825360
3,065 - INTRACRANIAL HEMORRHAGE OR CEREBRAL INFA...,110983,30371.27399,8037.269492,6858.689088
4,066 - INTRACRANIAL HEMORRHAGE OR CEREBRAL INFA...,62346,23300.06199,5762.881821,4508.202659
...,...,...,...,...,...
95,885 - PSYCHOSES,96597,18916.10428,7121.428077,6168.012340
96,897 - ALCOHOL/DRUG ABUSE OR DEPENDENCE W/O REH...,39977,15438.74683,4954.164344,4064.870000
97,917 - POISONING & TOXIC EFFECTS OF DRUGS W MCC,25261,38937.96299,10754.058270,9541.919322
98,918 - POISONING & TOXIC EFFECTS OF DRUGS W/O MCC,37372,16944.02823,4531.884245,3576.301028
99,948 - SIGNS & SYMPTOMS W/O MCC,57490,18401.71637,4909.515655,3989.460863

In [4]:
Inpatient_provdr = pandas.read_csv('Inpatient_provdr.csv')
Inpatient_provdr

,DRG Definition,Provider Id,Provider Name,Provider Street Address,Provider City,Provider State,Provider Zip Code,Hospital Referral Region (HRR) Description,Total Discharges,Average Covered Charges,Average Total Payments,Average Medicare Payments
0,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,AL - Dothan,91,32963.07692,5777.241758,4763.736264
1,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,10005,MARSHALL MEDICAL CENTER SOUTH,2505 U S HIGHWAY 431 NORTH,BOAZ,AL,35957,AL - Birmingham,14,15131.85714,5787.571429,4976.714286
2,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,10006,ELIZA COFFEE MEMORIAL HOSPITAL,205 MARENGO STREET,FLORENCE,AL,35631,AL - Birmingham,24,37560.37500,5434.958333,4453.791667
3,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,10011,ST VINCENT'S EAST,50 MEDICAL PARK EAST DRIVE,BIRMINGHAM,AL,35235,AL - Birmingham,25,13998.28000,5417.560000,4129.160000
4,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,10016,SHELBY BAPTIST MEDICAL CENTER,1000 FIRST STREET NORTH,ALABASTER,AL,35007,AL - Birmingham,18,31633.27778,5658.333333,4851.444444
...,...,...,...,...,...,...,...,...,...,...,...,...
163060,948 - SIGNS & SYMPTOMS W/O MCC,670041,SETON MEDICAL CENTER WILLIAMSON,201 SETON PARKWAY,ROUND ROCK,TX,78664,TX - Austin,23,26314.39130,3806.869565,3071.391304
163061,948 - SIGNS & SYMPTOMS W/O MCC,670055,METHODIST STONE OAK HOSPITAL,1139 E SONTERRA BLVD,SAN ANTONIO,TX,78258,TX - San Antonio,11,21704.72727,4027.363636,2649.727273
163062,948 - SIGNS & SYMPTOMS W/O MCC,670056,SETON MEDICAL CENTER HAYS,6001 KYLE PKWY,KYLE,TX,78640,TX - Austin,19,39121.73684,5704.368421,4058.368421
163063,948 - SIGNS & SYMPTOMS W/O MCC,670060,TEXAS REGIONAL MEDICAL CENTER AT SUNNYVALE,231 SOUTH COLLINS ROAD,SUNNYVALE,TX,75182,TX - Dallas,11,28873.09091,7663.090909,6848.545455
163064,948 - SIGNS & SYMPTOMS W/O MCC,670068,TEXAS HEALTH PRESBYTERIAN HOSPITAL FLOWER MOUND,4400 LONG PRAIRIE ROAD,FLOWER MOUND,TX,75028,TX - Dallas,12,15042.00000,3539.750000,2887.416667

In [5]:
Outpatient_Pat = pandas.read_csv('Outpatient_Pat.csv')
Outpatient_Pat

,APC,Outpatient Services,Average Estimated Submitted Charges,Average Total Payments
0,0012 - Level I Debridement & Destruction,275987,74.202956,16.147079
1,0013 - Level II Debridement & Destruction,434706,196.170070,56.133853
2,0015 - Level III Debridement & Destruction,509576,326.503444,97.156250
3,0019 - Level I Excision/ Biopsy,27860,2013.181972,330.908369
4,0020 - Level II Excision/ Biopsy,40642,3161.457873,567.156154
5,0073 - Level III Endoscopy Upper Airway,9094,899.357815,297.217209
6,0074 - Level IV Endoscopy Upper Airway,17231,6840.643287,1471.799719
7,0078 - Level III Pulmonary Treatment,229101,545.202941,97.847774
8,0096 - Level II Noninvasive Physiologic Studies,218179,757.146165,104.735983
9,0203 - Level IV Nerve Injections,6748,3708.442756,840.664003
10,0204 - Level I Nerve Injections,278325,725.316346,177.582565
11,0206 - Level II Nerve Injections,44783,1164.420424,256.476908
12,0207 - Level III Nerve Injections,510855,2279.155462,496.416817
13,"0209 - Level II Extended EEG, Sleep, and Cardi...",338180,3662.610626,757.535064
14,0265 - Level I Diagnostic and Screening Ultras...,528230,492.447806,62.338567
15,0267 - Level III Diagnostic and Screening Ultr...,1240489,1064.063446,151.824832
16,0269 - Level II Echocardiogram Without Contrast,1352348,1932.782316,398.410512
17,0270 - Level III Echocardiogram Without Contrast,72208,2797.609874,559.969609
18,0336 - Magnetic Resonance Imaging and Magnetic...,1145412,2587.647066,346.266199
19,0368 - Level II Pulmonary Tests,640987,313.941266,59.559283
20,0369 - Level III Pulmonary Tests,11653,985.004703,209.548023
21,0377 - Level II Cardiac Imaging,666726,4381.627170,744.575051
22,0604 - Level 1 Hospital Clinic Visits,4179247,107.934437,53.054135
23,0605 - Level 2 Hospital Clinic Visits,8128902,148.090689,76.188871
24,0606 - Level 3 Hospital Clinic Visits,3072033,187.297367,102.274381
25,0607 - Level 4 Hospital Clinic Visits,712390,269.274706,132.724438
26,0608 - Level 5 Hospital Clinic Visits,75870,367.363395,179.202106
27,0690 - Level I Electronic Analysis of Devices,605512,176.197085,35.544024
28,0692 - Level II Electronic Analysis of Devices,34273,645.899353,109.608500
29,0698 - Level II Eye Tests & Treatments,163523,204.154203,69.001853

In [6]:
Outpatient_provdr = pandas.read_csv('Outpatient_provdr.csv')
Outpatient_provdr

,APC,Provider Id,Provider Name,Provider Street Address,Provider City,Provider State,Provider Zip Code,Hospital Referral Region (HRR) Description,Outpatient Services,Average Estimated Submitted Charges,Average Total Payments
0,0012 - Level I Debridement & Destruction,10029,EAST ALABAMA MEDICAL CENTER AND SNF,2000 PEPPERELL PARKWAY,OPELIKA,AL,36801,AL - Birmingham,23,78.086957,21.910435
1,0012 - Level I Debridement & Destruction,20024,CENTRAL PENINSULA GENERAL HOSPITAL,250 HOSPITAL PLACE,SOLDOTNA,AK,99669,AK - Anchorage,994,149.589749,36.623853
2,0012 - Level I Debridement & Destruction,30064,"UNIVERSITY OF ARIZONA MEDICAL CTR-UNIVERSIT, THE",1501 NORTH CAMPBELL AVENUE,TUCSON,AZ,85724,AZ - Tucson,1765,50.135411,14.541841
3,0012 - Level I Debridement & Destruction,30088,BANNER BAYWOOD MEDICAL CENTER,6644 EAST BAYWOOD AVENUE,MESA,AZ,85206,AZ - Mesa,20,112.400000,23.736000
4,0012 - Level I Debridement & Destruction,30111,"UNIVERSITY OF ARIZONA MEDICAL CTR- SOUTH CAM, THE",2800 EAST AJO WAY,TUCSON,AZ,85713,AZ - Tucson,22,152.045455,16.569091
...,...,...,...,...,...,...,...,...,...,...,...
43367,0698 - Level II Eye Tests & Treatments,520098,UNIVERSITY OF WI HOSPITALS & CLINICS AUTHORITY,600 HIGHLAND AVENUE,MADISON,WI,53792,WI - Madison,2852,211.752854,71.776392
43368,0698 - Level II Eye Tests & Treatments,520100,BELOIT MEM HSPTL,1969 W HART RD,BELOIT,WI,53511,WI - Madison,912,164.068882,65.369989
43369,0698 - Level II Eye Tests & Treatments,520116,UW HLTH PARTNERS - WATERTOWN REGIONAL MEDICAL CTR,125 HOSPITAL DR,WATERTOWN,WI,53098,WI - Madison,188,119.579787,67.520000
43370,0698 - Level II Eye Tests & Treatments,520177,FROEDTERT MEM LUTHERAN HSPTL,9200 W WISCONSIN AVE,MILWAUKEE,WI,53226,WI - Milwaukee,1554,155.406969,66.719949
43371,0698 - Level II Eye Tests & Treatments,670034,SCOTT & WHITE HOSPITAL-ROUND ROCK,300 UNIVERSITY BLVD,ROUND ROCK,TX,78664,TX - Austin,1141,352.334356,64.012349

In [8]:
Patient_history_samp = pandas.read_csv('Patient_history_samp.csv')
Patient_history_samp

               id    age gender       income
0       306535165  65-74      F  24000-31999
1       742231134  65-74      F       48000+
2       928807201  75-84      M  24000-31999
3        83686538    <65      F  32000-47999
4       755607449  65-74      F       48000+
...           ...    ...    ...          ...
499995  164912939  75-84      F       48000+
499996  879506052  65-74      F  32000-47999
499997   87045563  75-84      M  32000-47999
499998  791132159    <65      M  32000-47999
499999  385254439  65-74      F  32000-47999

[500000 rows x 4 columns]

In [9]:
Review_patient_history_samp = pandas.read_csv('Review_patient_history_samp.csv')
Review_patient_history_samp

             id    age gender       income
0     381693273  65-74      F  24000-31999
1     444060924  65-74      M  24000-31999
2       3641691  65-74      F  24000-31999
3     672653795  65-74      M       48000+
4     144916176    <65      F       48000+
...         ...    ...    ...          ...
4995   28831157    <65      M  24000-31999
4996  612539786    <65      F  24000-31999
4997  978751518  75-84      F       <16000
4998  105489783  75-84      M  24000-31999
4999  650750373    85+      F       <16000

[5000 rows x 4 columns]

In [10]:
Rreview_transaction_coo = pandas.read_csv('Rreview_transaction_coo.csv')
Rreview_transaction_coo

              id  global_proc_id  count
0          65822             109      1
1          65822             125      1
2         119695              70      1
3         119695             124      1
4         119695             125      1
...          ...             ...    ...
15036  999454987             112      1
15037  999460247              69      1
15038  999460247              92      1
15039  999460247             124      1
15040  999921648              60      1

[15041 rows x 3 columns]

In [12]:
Transaction_coo = pandas.read_csv('Transaction_coo.csv')
Transaction_coo

                id  global_proc_id  count
0           159125               1      1
1           191852               1      1
2           321083               1      1
3           383037               1      1
4           467729               1      1
...            ...             ...    ...
1514804  997500356             130      1
1514805  997544830             130      1
1514806  998247161             130      1
1514807  998347246             130      1
1514808  998488395             130      1

[1514809 rows x 3 columns]